@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');
:root{
    --azulClaro: #22D4FD;
    --fontPrimaria: 'Krona One', sans-serif;
    --fontSecundaria:"Montserrat",sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #131B23;
    color:#E6F9AF;
    /* height:100vh; */
   
   width: 100%;
}
.navegacao{
    
    padding: 2% 0 0 15%;
    
    
    
}
.navegacao__links_nav{
    font-family: var(--fontSecundaria);
    font-size:1.5rem;
    width:810px;
    height: 29px;
    display:flex;
    gap:80px;
    display: flex;
    justify-content: center;

 
    
}
.navegacao__links_nav__link{
   text-decoration: none;
   color:var(--azulClaro); 
   font-weight: 600;
}
.titulo-destaque{
    color:#764134;
}
.apresentacao{
    padding: 8% 15%;
    display: flex;
    gap:82px;
    align-items: center;
    justify-content: space-between;

    
}
.apresentacao__conteudo__imgD{
    border-radius:10% 10% 0px 0px;
    border: 2px solid var(--azulClaro);
    width:250px;
    height:159px;
    
}
.apresentacao__conteudo__tituloSub{
    margin:0;
    width: 250.5px;
    
    font-size: 1rem;
    font-family: var(--fontPrimaria);
    border:2px solid var(--azulClaro);
    color:white;
    border-radius:0% 0% 10px 10px;
    text-align: center;
    position: relative;
}
.apresentacao__conteudo{
    margin: auto;
    width:50% ;
    display: flex;
    flex-direction: column;
    gap:40px;
}
.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family: var(--fontPrimaria);
}
.apresentacao__conteudo__texto{
    font-size: 1.5rem;
    font-family: var(--fontSecundaria);
}
.apresentacao__links{
    display:flex;
     align-items:center;
     /* justify-content: space-between; */
    flex-direction: column;
    gap: 32px
   
}
.imgK{
    width: 50%;
    border-radius: 20%;
    box-shadow:  #131B23;
    border-style: inset;
    margin:10px;
    padding:0px 15px 0px 15px;
    border-color:#22D4FD
}
.apresentacao__links__link{
    display: flex;
    justify-content: center;
    gap: 16px;
    background-color:None;
    border: 2px solid var(--azulClaro);
    width: 50%;
    padding: 21.5px 0;
    font-size: 1.5rem;
    font-family: var(--fontSecundaria);
    font-weight: 600;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    color:white;
}
.apresentacao__links__text{
     font-weight:400px;
    font-family: var(--fontPrimaria);
    font-size: 1.5rem;
}
.apresentacao__links__link__img{
    border-radius: 20%;
    box-shadow:  #131B23;
    border-style: inset;
    margin:10px;
    padding:0px 15px 0px 15px;
    border-color: var(--azulClaro);
    border:none;
    margin:0;
    padding:0;
}
.apresentacao__links__link:hover{
    background-color: #272727;
}
span:hover{
    color:#764134
}
.rodaPe{
    background-color: var(--azulClaro);

    padding:24px 0;
    display: flex;
    justify-content: center;
}
.rodaPe__text{
    width:482px;
    height:32.73px;
    font-family: var(--fontSecundaria);
    font-size:1.5rem;
    font-weight: 400;
    color:black;
    text-align: center;

}
.apresentacao__conteudo__caixaDividida{
    display:flex;
    width: 100%;
    gap:40px;
}

.apresentacao__conteudo__caixaDivididaD{
    display:flex;
    width: 100%;
    
    gap:40px;
}
.apresentacao__conteudo__textoD{
    font-size: 0.825rem;
    font-family: var(--fontSecundaria);
}
ul{
    margin:0;
    padding: 0px 40px;
}
@keyframes animacao {
    0%{
        height:90px;
        
    } 
    100%{
        height: 160px;
    }     
}
.apresentacao__conteudo__tituloSub:hover{
    background-color: #272727;
    animation-name: animacao;
    animation-duration: 1s;
    height: 160px;
}
.navegacao__links_nav__link:hover{
    color:#764134;
}
#navegacao__links_nav_alternado{
    display: flex;
    width:auto;
    gap: 20%;
    margin-left:-12px
}
@media(max-width:1200px){
    .apresentacao{
        /* margin:0; */
        flex-direction: column-reverse;
        padding: 5%;
    }
    .apresentacao__conteudo{
        width: auto;
    }
    .navegacao{
    
        padding: 8%;
        
       
    }
    .navegacao__links_nav{
        justify-content: center;
        font-size: 1.5rem;
        width:80%;
        gap: 4.5%;
    }
    iframe{
        width: 60%;
    }
    
   
}
@media(max-width:647px){
    .navegacao__links_nav{
        text-align: center;
        font-size: 1.5rem;
        width:100%;
        gap: 4.5%;
        flex-direction: column;
    }
    #navegacao__links_nav_alternado{
        display: flex;
        gap: 4.5%;
        justify-content: center;
    }
    .apresentacao__links__link{
        width: 60%;
    }
    .apresentacao__conteudo__textoD{
        font-size: 0.625rem;
        
    }
    iframe{
        width: 95%;
    }
}
